.main {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#light {
  background-color: white;
}

#dark {
  background-color: #1c1c1c;
}

.city {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 130px;
  line-height: 0%;
}

.city_white {
  color: white;
}

.city_dark {
  color: #4a4a4a;
}
