.time {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 100px;
  margin: 0;
  line-height: 90%;
}

.time__numbers {
  margin: 0;
}

.colon {
  width: 25px;
  animation: blink 2s linear infinite;
  margin: 0;
}

.time_white {
  color: white;
}

.time_dark {
  color: #4a4a4a;
}


@keyframes blink {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
