.text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 41px;
  margin: 0;
  line-height: 90%;
}

.text_white {
  color: white;
}

.text_dark {
  color: #4a4a4a;
}

@media screen and (max-width: 900px) {
  .text {
    font-size: 35px;
  }
}
