.text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 30px;
  margin: 2% 0 0 0;
}

.text_white {
  color: white;
}

.text_dark {
  color: #4a4a4a;
}

@media screen and (max-width: 1182px) {
  .text {
    font-size: 20px;
  }
}
